{
  "Parameters": {
    "Environment": "dev",
    "ResourcePrefix": "valthera-dev",
    "TablePrefix": "valthera-dev",
    "BucketPrefix": "valthera-dev",
    "IsLocal": "true",
    "COGNITO_USER_POOL_ID": "local_6DRReT3F",
    "COGNITO_CLIENT_ID": "593y2ngybvgrzruxdrwf8300w",
    "COGNITO_ENDPOINT": "http://localhost:9239"
  },
  "ProjectGetFunction": {
    "AWS_ENDPOINT_URL": "http://localhost:8000",
    "S3_ENDPOINT_URL": "http://localhost:4566"
  },
  "DatasourceGeneratePresignedUrlFunction": {
    "AWS_ENDPOINT_URL": "http://localhost:8000",
    "S3_ENDPOINT_URL": "http://localhost:4566"
  },
  "DatasourceGetByIdFunction": {
    "AWS_ENDPOINT_URL": "http://localhost:8000",
    "S3_ENDPOINT_URL": "http://localhost:4566"
  },
  "DatasourceCreateFunction": {
    "AWS_ENDPOINT_URL": "http://localhost:8000",
    "S3_ENDPOINT_URL": "http://localhost:4566"
  },
  "DatasourceUploadFunction": {
    "AWS_ENDPOINT_URL": "http://localhost:8000",
    "S3_ENDPOINT_URL": "http://localhost:4566"
  },
  "DatasourceGetFunction": {
    "AWS_ENDPOINT_URL": "http://localhost:8000",
    "S3_ENDPOINT_URL": "http://localhost:4566"
  },
  "ListApiKeysFunction": {
    "API_KEYS_TABLE": "valthera-dev-api-keys"
  },
  "CreateApiKeyFunction": {
    "API_KEYS_TABLE": "valthera-dev-api-keys"
  },
  "RevokeApiKeyFunction": {
    "API_KEYS_TABLE": "valthera-dev-api-keys"
  }
}
